[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dynaconf = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-wtf = "*"
markdown = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-login = "*"
email-validator = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-watch = "*"
beautifulsoup4 = "*"
requests = "*"

[requires]
python_version = "3.9"
