<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Razator D&D</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='jets.min.js') }}"></script>
        <script type="text/javascript">
            function schoolClick(e) {
                var schools = Array.prototype.slice.call(document.querySelectorAll('.spell-school:not([name="all"])')),
                    selected = e.target,
                    tags = [];

                if (selected.nodeName !== 'A') return;
                if (selected.name == 'all') {
                    selected.classList.add('selected');
                    schools.forEach(function(school) {
                        school.classList.remove('selected');
                    });
                } else {
                    document.querySelector('.spell-school[name="all"]').classList.remove('selected');
                    selected.classList.toggle('selected');
                    tags = Array.prototype.slice.call(document.querySelectorAll('.spell-school.selected')).map(function(el) { return el.name; });
                }

                filterSpells(tags);
            }

            /**
             * Hide/show spells based on presence of at least one of the given tags.
             */
            function filterSpells(tags) {
                var spells = document.querySelectorAll('.post-list li'),
                    selector,
                    unselected

                // Start by making previously hidden spells visible again
                // (this does not conflict with jets search filtering)
                Array.prototype.slice.call(spells).forEach(function(spell) {
                    spell.style.display = '';
                });

                if (tags.length == 0) return;

                // Hide all spells where all of the given tags are not present
                selector = tags.map(function(tag) { return ':not([tags~="' + tag + '"])'; });
                unselected = document.querySelectorAll('.post-link' + selector.join(''));
                Array.prototype.slice.call(unselected).forEach(function(spell) {
                    spell.parentNode.style.display = 'none';
                });
            }

            window.onload = function(){
                document.querySelector(".schools-list").addEventListener( 'click', schoolClick );
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <nav class="site-nav">
                <a class="site-title" href="{{ url_for('home') }}">Razator D&D</a>
                <div id="menu" class="trigger">
                    <a class="page-link" href="{{ url_for('spell_home') }}">Spells</a>
                    <a class="page-link" href="{{ url_for('creatures_home') }}">Bestiary</a>
                </div>
            </nav>
        </div>

        <div class="page-content">
            <div class="wrapper">
                <div class="home">
                    {% block dnd_content %}{% endblock %}
                </div>
            </div>
        </div>

        <script>
          var jets = new Jets({
            searchTag: '#jetsSearch',
            contentTag: '.jetsContent',
            didSearch: function(search_phrase) {
              var elements = document.getElementsByClassName("jetsHide");
              if (!search_phrase.trim()) {
                for (var i = 0; i < elements.length; i++) {
                  elements[i].classList.remove("searchHide");
                }
              } else {
                for (var i = 0; i < elements.length; i++) {
                  elements[i].classList.add("searchHide");
                }
              }
            }
          })
        </script>
    </body>
</html>