{% extends 'base.html' %}

{% block dnd_content %}
    <table>
        <tr>
            <td width="256px">
                <img src="{{ url_for('static', filename=user.profile_picture_path) }}" width="256" height="256"/>
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if current_user == user or current_user.role_id == admin_id %}
                    <p><a href="{{ url_for('edit_user', username=user.username) }}">Edit</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}