{% extends 'base.html' %}

{% block dnd_content %}
    <h1 class="page-heading">{{ title }}</h1><br>

    <p id="spellSearch">
        Search by name: <input type="search" name="spells" id="jetsSearch">
    </p>

    {% if class_lists %}
        <dl class="tag-list">
            <dt>Class Lists:</dt>
            <dd><a href="{{ url_for('spell_home') }}">All</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='artificer') }}">Artificer</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='bard') }}">Bard</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='cleric') }}">Cleric</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='druid') }}">Druid</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='paladin') }}">Paladin</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='ranger') }}">Ranger</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='sorcerer') }}">Sorcerer</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='warlock') }}">Warlock</a></dd>
            <dd><a href="{{ url_for('spells_by_tag', tag_name='wizard') }}">Wizard</a></dd>
        </dl>
    {% elif character %}
        {% if spellbook %}
            <p><a href="{{ url_for('character_spellbook', char_id=character.id) }}">Back to spellbook</a></p>
        {% else %}
            <p><a href="{{ url_for('character_page', char_id=character.id) }}">Back to character</a></p>
            <p><a href="{{ url_for('character_edit_spells', char_id=character.id) }}">Add/Remove Spells</a></p>
        {% endif %}
    {% endif %}
    <dl class="tag-list">
        <dt>Spell tier:</dt>
        {% for level in spell_lists.keys() %}
            <dd><a href="#{{ level.lower().replace(' ', '') }}">{{ level }}</a></dd>
        {% endfor %}
    </dl>

    <dl class="schools-list">
        <dt>Spell school:</dt>
        <dd><a class="spell-school selected" name="all">All</a></dd><dd>|</dd>
        {% for school in schools %}
            <dd><a class="spell-school" name="{{ school }}">{{ school.capitalize() }}</a></dd>
        {% endfor %}
    </dl>

    {% for spell_list, spells in spell_lists.items() %}
        <a id="{{ spell_list.lower().replace(' ', '') }}"></a>
        <h2 class="post-list-head jetsHide">{{ spell_list }}</h2>
        <table class="spells">
            <tbody class="jetsContent">
            {% for spell in spells %}
                <tr data-jets="{{ spell.name.lower() }}" tags="{{ spell.tag_str }}" class="spell-row">
                    <td><a class="post-link"
                           href="{{ url_for('spell_page', spell_name=spell.url_path) }}">
                        {{ spell.name }}
                    </a></td>
                    {% if character and spellbook %}
                        {% if spell in spellbook.spells.all() %}
                            <td align="right"><a class="post-link"
                                   href="{{ url_for('character_edit_spell', char_id=character.id,
                                                    spell_id=spell.id, action='remove') }}">Remove</a></td>
                        {% else %}
                            <td align="right"><a class="post-link"
                                   href="{{ url_for('character_edit_spell', char_id=character.id,
                                                    spell_id=spell.id, action='add') }}">Add</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
    {% endfor %}
{% endblock %}
