{% extends 'base.html' %}

{% block dnd_content %}
    <h1 class="page-heading">{{ title }}</h1><br>

    <p id="spellSearch">
        Search by name: <input type="search" name="spells" id="jetsSearch">
    </p>

    <dl class="tag-list">
        <dt>Class Lists:</dt>
        <dd><a href="{{ url_for('spell_home') }}">All</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='artificer') }}">Artificer</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='bard') }}">Bard</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='cleric') }}">Cleric</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='druid') }}">Druid</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='paladin') }}">Paladin</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='ranger') }}">Ranger</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='sorcerer') }}">Sorcerer</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='warlock') }}">Warlock</a></dd>
        <dd><a href="{{ url_for('spells_by_tag', tag_name='wizard') }}">Wizard</a></dd>
    </dl>

    <dl class="tag-list">
        <dt>Spell tier:</dt>
        {% for level in spell_lists.keys() %}
            <dd><a href="#{{ level.lower().replace(' ', '') }}">{{ level }}</a></dd>
        {% endfor %}
    </dl>

    <dl class="schools-list">
        <dt>Spell school:</dt>
        <dd><a class="spell-school selected" name="all">All</a></dd><dd>|</dd>
        {% for school in schools %}
            <dd><a class="spell-school" name="{{ school }}">{{ school.capitalize() }}</a></dd>
        {% endfor %}
    </dl>

    {% for spell_list, spells in spell_lists.items() %}
        <a id="{{ spell_list.lower().replace(' ', '') }}"></a>
        <h2 class="post-list-head jetsHide">{{ spell_list }}</h2>
        <ul class="post-list jetsContent">
        {% for spell in spells %}
            <li data-jets="{{ spell.name.lower() }}">
                <a class="post-link" tags="{{ ' '.join(spell.tags) }}" href="{{ url_for('spell_page', spell_name=spell.url_path) }}">
                    {{ spell.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
    {% endfor %}
{% endblock %}
